<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>I am Rayyan and this is a project that shows weather forecast for various places. </p>
    </div>
    
    {{>footer}}
</body>

</html>