<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        This app allows users to get weather forecast information for a place. The place is given as input through the input box. On clicking the Submit button, the app connects to location services and fetches weather information for the searched location.
    </div>
    
    {{>footer}}
</body>

</html>